a {
    text-decoration: none;
}

:root {
    --nav-height: 81px;
    --main-bg-color: brown;
    --sidebar-on-width: 20%;
    --sidebar-off-width: 0%
}

html,
body {
    height: 100%;
    margin: 0;
}

.wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.nav {
    display: flex;
    width: 100%;
    height: var(--nav-height);
    background-color: white;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    width: 100%;
    height: calc(100% - var(--nav-height));
    flex-direction: column;
}

.card-main {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.side {
    background-color: blue;
    width: 20%;
}

.main {
    width: 100%;
    background-color: white;
}

.nav-content {
    color:black;
    font-family: 'Noto Sans KR', sans-serif;
    width: 20%;
    text-align: center;
    font-size: 17px;
}

#mosol-home {
    width: 20%;
    text-align: center;
    font-family: 'Staatliches', cursive;
    color: red;
    font-size: 35px;
}

#textbook_solution{
    color:black;
}

.jumbotron-custom {
    display: flex;
    height: 370px;
    background-color: azure;
    padding: 0px;
    flex-direction: column;
    justify-content: center;
}

.jumbo-center {
    margin: 100px;
}

.jumbo-head {
    font-size: 40px;
    font-family: 'Staatliches', cursive;
}

.jumbo-head2 {
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

.jumbo-content {
    font-size: 19px;
    font-family: 'Noto Sans KR', sans-serif;
}

.jumbo-btn {
    background-color: rgb(100, 125, 237);
    font-size: 20px;
    border-radius: 20px;
    padding: 16px 40px;
    border: 0px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}
